---
const { title, description } = Astro.props
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>
    </div>
    <div>
      <section>
        <h2>Get in touch</h2>
        <form method="post" action="#">
          <div class="fields">
            <div class="field">
              <p>Github: <a href="https://github.com/pengeon1">pengeon1</a></p>
            </div>
            <div class="field">
              <p>Gmail: <a href="piyushmishra0207@gmail.com">piyushmishra0207@gmail.com</a></p>
            </div>
        </form>
      </section>
    </div>
  </div>
</footer>
